<section ng-controller="UsersController">
	<h1 class="text-center">Edit profile</h1>

	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-12">
				<div class="profile">
					<div class="profile-inner" ng-controller="EditprofileController">
						<form class="form-horizontal" ng-submit="editProfile()">

							<div class="alert alert-danger" ng-show="error">
								<span ng-bind="error"></span>
							</div>

							<div class="form-group">
								<label class="col-sm-2 control-label" for="username">Username: </label>
								<div class="col-sm-7">
									<input class="form-control input-md" id="username" type="text" placeholder="username" ng-model="profile.username" />
								</div>
							</div><!-- /form-group -->

							<div class="form-group">
								<label class="col-sm-2 control-label" for="firstName">First name: </label>
								<div class="col-sm-7">
									<input class="form-control input-md" id="firstName" type="text" placeholder="First name" ng-model="profile.firstName" />
								</div>
							</div><!-- /form-group -->

							<div class="form-group">
								<label class="col-sm-2 control-label" for="lastName">Last name: </label>
								<div class="col-sm-7">
									<input class="form-control input-md" id="lastName" type="text" placeholder="Last name" ng-model="profile.lastName" />
								</div>
							</div><!-- /form-group -->

							<div class="form-group">
								<label class="col-sm-2 control-label" for="Email">Email: </label>
								<div class="col-sm-7">
									<input class="form-control input-md" id="Email" type="text" placeholder="Email" ng-model="profile.email" />
								</div>
							</div><!-- /form-group -->

							<div class="form-group">
								<label class="col-sm-2 control-label" for="image">Upload your image </label>
								<div class="col-sm-7">
									<input class="form-control input-md" id="image" type="file" file-model="profile.image" />
								</div>
							</div><!-- /form-group -->

							<div class="form-group text-right">
								<label class="col-sm-2"></label>
								<div class="col-sm-7">
									<button type="submit" class="btn btn-md btn-success">Edit profile info</button> OR
									<a href="/#!/profile" class="btn btn-md btn-danger">Cancel</a>
								</div>
							</div><!-- /form-group -->

						</form>
					</div><!-- /profile-inner -->
				</div><!-- /profile -->
			</div><!-- /col-lg-12 -->
		</div><!-- /row -->
	</div><!-- /container-fluid -->

</section>
