<section ng-controller="ChangePassController">
	<h1 class="text-center">Change Password</h1>

	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-12">
				<div class="profile">
					<div class="profile-inner">
						<form class="form-horizontal" ng-submit="changePassword()">

							<div class="alert alert-danger" ng-show="error">
								<span ng-bind="error"></span>
							</div>

							<div class="form-group">
								<label class="col-sm-3 control-label" for="oldPass">Old password: </label>
								<div class="col-sm-7">
									<input class="form-control input-md" id="oldPass" type="password" placeholder="Old password" ng-model="credentionals.oldPass" />
								</div>
							</div><!-- /form-group -->

							<div class="form-group">
								<label class="col-sm-3 control-label" for="newPass">New password: </label>
								<div class="col-sm-7">
									<input class="form-control input-md" id="newPass" type="password" placeholder="New password" ng-model="credentionals.newPass" />
								</div>
							</div><!-- /form-group -->

							<div class="form-group">
								<label class="col-sm-3 control-label" for="confPass">Confirm password: </label>
								<div class="col-sm-7">
									<input class="form-control input-md" id="confPass" type="password" placeholder="Confirm password" ng-model="credentionals.confirmPass" />
								</div>
							</div><!-- /form-group -->

							<div class="form-group text-right">
								<label class="col-sm-3"></label>
								<div class="col-sm-7">
									<button type="submit" class="btn btn-md btn-success">Change password</button> OR
									<a href="/#!/" class="btn btn-md btn-danger">Cancel</a>
								</div>
							</div><!-- /form-group -->

							<h4 class="text-info">After you change the password we will redirect you to sign in with your new password</h4>

						</form>
					</div><!-- /profile-inner -->
				</div><!-- /profile -->
			</div><!-- /col-lg-12 -->
		</div><!-- /row -->
	</div><!-- /container-fluid -->

</section>
