<!DOCTYPE html>
<html>
<head>
	<title><%=title %></title>
	<link rel="stylesheet" type="text/css" href="/css/style.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
</head>

<body>
	<div class="sign-in-form">
		<a class="btn btn-danger btn-md sign-up" href="/">Sign up</a>

		<form action="/signin" method="post">
			<% for(var i in messages) { %>
				<div class="alert alert-danger">
					<div class="flash"><%= messages[i] %></div>
				</div>
			<% } %>
			<div class="form-group">
				<input class="form-control input-lg" type="text" name="username" placeholder="Username" />
			</div>
			<div class="form-group">
				<input class="form-control input-lg" type="password" name="password" placeholder="Password" />
			</div>
			<div class="form-group">
				<input class="btn btn-primary btn-lg btn-block" type="submit" value="Sign In" />
			</div>
		</form>
	</div>
</body>
</html>